html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

@import "header";
@import "footer";
@import "cart";
@import "responsive";

// body {
//   overflow: hidden;
// }

// /* ini: Preloader */

// #preloader {
//     position:fixed;
//     top:0;
//     left:0;
//     right:0;
//     bottom:0;
//     background-color:#000; /* cor do background que vai ocupar o body */
//     z-index:999; /* z-index para jogar para frente e sobrepor tudo */
// }
// #preloader .inner {
//     position: absolute;
//     top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// @keyframes animarBola {
//   0% {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//     opacity: 1;
//   }
//   16% {
//     -webkit-transform: scale(0.1);
//     transform: scale(0.1);
//     opacity: 0.7;
//   }
//   33% {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//     opacity: 1;
//   }
// }
/* end: Preloader */

.container {
    display: grid;
    grid-template-columns: 3fr;
}

.fav-heart {
    float: right;
    font-size: 1.2em;
    color: gray;
}

.col-12.col-lg-3.text-center {
    margin: auto;
}

button.btn.btn-secondary {
    background-color: white;
}

.input-group > .input-group-append > .btn {
    border-left: none;
    border-color: #cccfd2 !important;
    color: black;
    font-size: 18px;
}

/********Form Buscar*****/

/*Iconesssssssss*/

/* Vitrine de produtos*/
.vitrine {
    display: flex;
    justify-content: space-around;
}

.vitrine img {
    width: 100%;
    max-width: 250px;
    height: 250px;
}

#banner_slider {
    img {
        height: 400px;
        object-fit: cover;
    }
}

.faixa {
    margin: 8px 0;
    background: black;

    line-height: 0;
    i {
        font-size: 2.5em;

        color: white;
    }
    h5 {
        color: white;
        font-size: 1em;
        padding-top: 8px;
    }
    span {
        color: white;
        font-size: 0.9em;
    }
}
/*antfooter*/
.antfooter {
    background: #008232;
}

.email {
    padding-top: 10px;
    height: auto;
    color: white;
}

.email input {
    width: 100%;
    max-width: 270px;
    border: none;
    height: 30px;
}

.email input:focus {
    outline: none;
}

.email button {
    width: 100%;
    max-width: 150px;
    border: none;
    background-color: black;
    color: white;
    height: 30px;
}

.email button:focus {
    outline: none;
}

/*****slick slider******/
.promo p {
    text-decoration: line-through;
}

.lancamento {
    padding-top: 50px;
}

.lancamento h3 {
    font-weight: bold;
    font-size: x-large;
}

.produtos {
    margin-top: 50px;
    height: auto;
}

.produtos img {
    width: 100%;
    margin: 0 auto;
    max-width: 120px;
    display: flex;
    height: 120px;
}

/*slide de produtos*/
.multiple-items {
    padding: 5px;
}

.slick-slide:focus {
    outline: none;
}

.left-arrow {
    width: 40px;
    height: 40px;
    color: green;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;
}

.right-arrow {
    width: 40px;
    height: 40px;
    color: green;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
}

/****Footer****/
.textfoo1 a {
    color: white;
}

.textfoo1 {
    color: white;
}

.face h8 {
    color: white;
}

.textfoo1 ul li {
    list-style: none;
}

.cards {
    color: white;
}

/*****FOOTER MOBILE*******/
.app-footer {
    position: fixed;
    background: white;
    color: #444;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
}

.app-footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.app-footer ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-footer ul li i {
    font-size: 22px;
}

@media screen and (max-width: 768px) {
    .atalhos {
        display: none;
    }

    .form-inline {
        display: none;
    }

    .thumbnail h6 {
        font-size: 50%;
    }

    .thumbnail p {
        font-size: 50%;
    }

    .thumbnail1 {
        display: none;
    }

    .product-detail .right-col {
        display: table;
    }

    .product-detail .left-col {
        width: 100%;
        float: none;
    }

    .aside1 {
        display: none;
    }

    .asidee aside {
        display: none;
    }

    .header {
        height: 71px;
    }

    .subheader img {
        width: 190px;
        height: 52px;
        padding-left: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .form-inline2 {
        display: none;
    }
}

.produtos {
    .img-product {
        img {
            width: 180px !important;
            height: 180px !important;
            object-fit: cover;
        }
    }

    .item-1 {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h6 {
            text-transform: uppercase;
            font-size: 1.3em;
            padding: 5px 0;
        }
        h5 {
            text-transform: uppercase;
            font-size: 1.5em;
            font-weight: 700;
        }
        .btn-alt {
            background-color: #008232;
            color: white;
            width: 100%;
            padding: 1em 5em;
            display: flex;
            text-decoration: none;
            overflow: hidden;
            text-transform: uppercase;
            margin: 5px 0;
        }
        .btn-none {
            opacity: 0;
        }
        .fadeOut {
            color: #ffffff;
            text-align: center;

            -webkit-transition: opacity 3s ease-in-out;
            -moz-transition: opacity 3s ease-in-out;
            -ms-transition: opacity 3s ease-in-out;
            -o-transition: opacity 3s ease-in-out;
            opacity: 1;
        }
    }
}

/********************* Shopping Demo-2 **********************/
.demo {
    padding: 45px 0;
}
.product-grid2 {
    font-family: "Open Sans", sans-serif;
    position: relative;
    margin: 1em 0 5.5em 0;
}
.product-grid2 .product-image2 {
    overflow: hidden;
    position: relative;
}
.product-grid2 .product-image2 a {
    display: block;
}
.product-grid2 .product-image2 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.product-image2 .pic-1 {
    opacity: 1;
    transition: all 0.5s;
}
.product-grid2:hover .product-image2 .pic-1 {
    opacity: 0;
}
.product-image2 .pic-2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}
.product-grid2:hover .product-image2 .pic-2 {
    opacity: 1;
}
.product-grid2 .social {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 50px;
    right: 25px;
    z-index: 1;
}
.product-grid2 .social li {
    margin: 0 0 10px;
    display: block;
    transform: translateX(100px);
    transition: all 0.5s;
}
.product-grid2:hover .social li {
    transform: translateX(0);
}
.product-grid2:hover .social li:nth-child(2) {
    transition-delay: 0.15s;
}
.product-grid2:hover .social li:nth-child(3) {
    transition-delay: 0.25s;
}
.product-grid2 .social li a {
    color: #505050;
    background-color: #fff;
    font-size: 17px;
    line-height: 45px;
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: block;
    transition: all 0.3s ease 0s;
}
.product-grid2 .social li a:hover {
    color: #fff;
    background-color: #6ecd4d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
// .product-grid2 .social li a:after,
// .product-grid2 .social li a:before {
//     content: attr(data-tip);
//     color: #fff;
//     background-color: #000;
//     font-size: 12px;
//     line-height: 22px;
//     border-radius: 3px;
//     padding: 0 5px;
//     white-space: nowrap;
//     opacity: 0;
//     transform: translateX(-50%);
//     position: absolute;
//     left: 50%;
//     top: -30px;
// }
// .product-grid2 .social li a:after {
//     content: "";
//     height: 15px;
//     width: 15px;
//     border-radius: 0;
//     transform: translateX(-50%) rotate(45deg);
//     top: -22px;
//     z-index: -1;
// }
// .product-grid2 .social li a:hover:after,
// .product-grid2 .social li a:hover:before {
//     opacity: 1;
// }
.product-grid2 .add-to-cart {
    color: #000;
    font-weight: 600;
    background-color: #6ecd4d;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: -43px;
    transition: all 0.3s;
    text-transform: uppercase;
    text-decoration: none;
}

// .product-grid2:hover .add-to-cart {
//     bottom: 0;
// }
.product-grid2 .product-new-label {
    background-color: #6ecd4d;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s;
}
.product-grid2:hover .product-new-label {
    opacity: 0;
}
.product-grid2 .product-content {
    padding: 20px 10px;
    text-align: center;
}
.product-grid2 .title {
    font-size: 1.6em;
    text-transform: uppercase;
    margin: 0 0 7px;
}
.product-grid2 .title a {
    text-decoration: none;
    font-size: 0.8em;
}
// .product-grid2 .title a:hover{color:#3498db}
.product-grid2 .price {
    color: #000;
    font-size: 2em;
    font-weight: 600;
}
@media screen and (max-width: 990px) {
    .product-grid2 {
        margin-bottom: 70px;
    }
}
.product-detail {
    h3 {
        text-transform: uppercase;
        font-size: 2em;
        line-height: 1;
        font-weight: 800;
    }

    h4 {
        font-size: 2em;
        font-weight: 700;
        line-height: 1;
    }
    .price-product {
        border-top: solid 1px #8080805e;
        padding-top: 70px;
        input {
            border-radius: 0;
            margin: -14px;
        }
        .btn-comprar {
            background-color: #6ecd4d;
            color: #000;
            padding: 1em 5em;
            border: none;
            margin: 0px -34px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}
.img-gallery {
    display: flex;
    flex-direction: row;

    .thumbnail-1 img {
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    #expandedImg {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .column.thumbnail-1 {
        margin: 0 0 10px 0;
    }
}

.parcelamento {
    font-size: 2em;
    margin-top: 16px;
}
.description {
    margin-top: 5em;
    h3 {
        font-size: 2em;
    }
    span {
        // color:;
    }
}
.share{
    margin: 0 -120px;
    a{
        padding: 0 5px;
        font-size: 1.3em;
        .whatsapp{
            color: green;
        }
    }
}

.media-body {
    margin: 0 20px;
}

#log {
    width: 48%;
    margin: 0 2px;
}

#reg {
    width: 48%;
    margin: 0 2px;
}

.values {
    color: green;
    font-weight: 600;
}
.valuess {
    color: red;
    font-weight: 600;
}

$base-gap: 20px;
$base-background: #ffffff;
$base-color: #161515;

// --- MENU ---

.menu-cat {
    background: $base-background;
    margin: $base-gap auto;
    width: 250px;
    border-radius: 3px;
    font-weight: bold;
    position: relative;
}

.menu__item-cat {
    text-decoration: none;
    color: $base-color;
    padding: 15px 0;
    position: relative;
    text-transform: uppercase;
    display: block;
    transition: color 0.2s;
    border-bottom: 1px solid;
}
.menu__item-cat:hover {
    text-decoration: none;
    color: #6ecd4d;
}

.menu__item-icon {
    font-size: 16px;
    position: absolute;
    top: 15px;
    right: 20px;
}

.menu--dropdown {
    .menu__item {
        color: #dbdbdb;

        &.is-active {
            background: #f1f1f1;
            color: $base-color;
        }

        &:hover {
            color: $base-color;
        }
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: -8px;
        left: 20px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $base-background;
    }
}
